<div *ngIf="ourPurchaseOrder">
  <div><label>ID: </label>{{ourPurchaseOrder.entityID}}</div>
  <div *ngIf="vendor">
    <label>Vendor: </label>{{vendor.vendorName}}
  </div>
  <div>
    <label>PO Date:
      <input type="date" [(ngModel)]="poDate" placeholder="PO date">
    </label>
    <button *ngIf="poDate != ourPurchaseOrder.date" (click)="updateDate();">
      update
    </button>
  </div>
  <div>
    <label>Our PO: </label>{{ourPurchaseOrder.ourPO}}
  </div>
  <div>
    <label *ngIf="unassignedItems">Available items:
      <select [(ngModel)]="selectedItem">
        <option *ngFor="let i of unassignedItems" [ngValue]="i.entityID">{{i.orderedYards}} yards of {{i.designColorID | parentDescription: "DesignColor":"designID":allColors:designs}} - {{i.designColorID | description:"DesignColor":allColors}} for {{i.customerPOID | parentDescription: "PurchaseOrder":"customerID":allPOs:allCustomers}}</option>
      </select>
    </label>
    <label>FOB in cents:
      <input [(ngModel)]="FOB" type="number" style="text-align:right;">
    </label>
    <button (click)="updateItem();">
      add
    </button>
  </div>
  <ul class="items">
    <li *ngFor="let item of items" (click)="onSelect(item)" [class.nowarning]="!warnItem(item)" [class.warning]="warnItem(item)" [class.selected]="item === selectedAddedItem">
      <span class="badge">{{item.entityID}}</span>
      {{item.designColorID | parentDescription: "DesignColor":"designID":allColors:designs}},
      {{item.designColorID | description:"DesignColor":allColors}}, {{item.orderedYards}} yards at {{item.fob}} cents
    </li>
  </ul>
  <div *ngIf="selectedAddedItem">
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
